* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body {
    font-family: Arial;
    background-color: rgb(129, 129, 129);
    color: white;
    font-size: 18px;
    margin-left: 3%;
    margin-right: 3%;
    float:  left;
}

h1 {
    color: white;
    text-align: center;
}

.navegator{
    position: fixed;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    width: 85%;
    height: auto;
}

.navegator ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
display: block;
padding: 15px 20px;
color: black;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
}

.menu li a:hover{
background-color: rgb(165, 161, 161);
transition: all .3s;
}

.submenu{
    position: absolute;
    background: white;
    color: black;
    width: 120%;
    opacity: 0;
    transition: opacity 1.5s;
    }
    
.submenu li a{
    display: block;
    padding: 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
    
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
    background-color: white;
}
   
article{
    background-image: url("images/background.jpg");
    text-align: center;
    float: left;
    color: white;
}
a :visited{
    color: red;
    text-decoration: none;
}

.formulario{
    margin-left: 8%;
    color: black
}

.galeria{  
    margin: 5px;
    float: left;
}



.contenedor-imagenes{
    display: flex;
    position: relative;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 5px;
}

.contenedor-imagenes img{
    width: 50%;
    height: 60%;
    object-fit: cover;
}


footer {
    background-color: rgb(214, 214, 214);
    color: black;
    margin: 2%;
    float:left; 
    width: 93%;
}